html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.8)
  );
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 6rem;
  padding-top: 1rem;
  position: fixed;
  background: linear-gradient(45deg, rgba(136, 0, 0, 0.9), rgb(36, 0, 0));
  text-transform: uppercase;
  z-index: 10;
}

.line {
  height: 0.2rem;
  width: 2.5rem;
  background-color: #ffd390;
  margin-bottom: 0.6rem;
}

.line-1,
.line-3 {
  width: 1.8rem;
  transition: all 0.4s;
}

.menu-icon:hover .line {
  width: 2.5rem;
}

#banner {
  text-align: center;
  font-weight: 300;
}

ul {
  list-style: none;
  font-size: 1.5rem;
  width: 100%;
}

ul li {
  cursor: pointer;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

.menu a {
  font-style: none;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
}

.social-links a {
  color: #ffd390;
  padding-bottom: 2rem;
  transition: all 0.25s ease-in;
}

.social-links a:hover {
  color: #fff8ef;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome {
  animation: welcome-animation 2s;
}

#profile {
  border-radius: 15px;
  width: 15rem;
  height: auto;
  animation: welcome-animation 2s;
}

.intro a,
.intro p {
  animation: welcome-animation 2s 1s backwards;
  color: #e6bf84;
}

.intro p i {
  color: #ff5c37;
}

@keyframes welcome-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navigation {
  position: fixed;
  left: -34rem;
  top: 0;
  width: 30rem;
  height: 100%;
  background: linear-gradient(
      to top,
      rgba(34, 32, 41, 0.6),
      rgba(34, 32, 41, 0.8)
    ),
    url("./img/nav-bg.jpeg") center no-repeat;
  background-size: cover;
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
  z-index: 5;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: #ffd390;
  text-align: center;
  margin-bottom: 0;
}

h5 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: #ffd390;
  text-align: center;
  margin: 0;
}

.navigation-list {
  list-style: none;
  padding: 0;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 8rem;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.5s;
}

.navigation-link::before {
  content: "";
  width: 0rem;
  height: 0.1rem;
  background-color: #ffd390;
  position: absolute;
  top: 1rem;
  left: -4rem;
  transition: width 0.5s cubic-bezier(1, 0, 0, 1);
}

.navigation-link::after {
  content: "";
  width: 0rem;
  height: 0.1rem;
  background-color: #ffd390;
  position: absolute;
  top: 1rem;
  right: -4rem;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.navigation-link:hover {
  color: #ffd390;
}

.navigation-link:hover::before,
.navigation-link:hover::after {
  width: 3rem;
}

.checkbox:checked ~ .navigation {
  left: 6rem;
}

.checkbox:checked ~ .navbar .line-1 {
  transform: rotate(-405deg) translate(-12px, 6px);
  width: 2.5rem;
}

.checkbox:checked ~ .navbar .line-2 {
  opacity: 0;
}

.checkbox:checked ~ .navbar .line-3 {
  transform: rotate(405deg) translate(-12px, -6px);
  width: 2.5rem;
}

.main {
  margin-left: 6rem;
}

.parallax-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 8px;
  perspective-origin: 0%;
  display: flex;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateZ(0px);
}

.foreground {
  margin: 50px 0;
  transform-origin: 0;
  transform: translateZ(3px) scale(0.625);
}

.intro,
.about-me,
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 5rem;
  min-width: 500px;
}

.line-break {
  width: 80%;
  height: 2px;
  margin: 10px 0 20px;
  background-color: lightcoral;
}

.about-me {
  background-color: rgba(0, 0, 0, 0.8);
}

.about-me p {
  color: #ffd390;
  padding-bottom: 2rem;
  overflow-x: auto;
}

.about-me-btn {
  width: 15rem;
  padding: 0.7rem 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #ffd390;
  background: transparent;
  border: 0.1rem solid #ffd390;
  outline: none;
  cursor: pointer;
  transition: color 0.5s linear;
}

.about-me-btn:hover {
  background: linear-gradient(90deg, #ffd390, #ff9900);
  color: #000;
}

.projects {
  background: transparent;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.project-card {
  flex: 1 1 400px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2.5rem auto;
  margin: 0.8rem;
  box-sizing: border-box;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 234, 151, 0.5)
  );
  transition: all 0.1s linear;
  box-shadow: 10px 5px 5px rgb(108, 108, 108);
  cursor: pointer;
}

.project-card:hover {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.913),
    rgba(255, 234, 151, 0.584)
  );
  transform: scale(1.02);
}

.project-img {
  background-color: #fff8ef;
  width: 100%;
}

.project-img img {
  width: 100%;
  height: auto;
}

.project-title {
  text-align: center;
}

.project-description p {
  padding: 1rem;
  text-align: justify;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    height: 3rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-top: 0;
    position: fixed;
  }

  .navigation {
    top: 3rem;
    width: 25rem;
  }

  .checkbox:checked ~ .navigation {
    top: 3rem;
  }

  .line {
    height: 0.15rem;
    width: 1.5rem;
    margin-bottom: 0.3rem;
    margin-top: 0.1rem;
  }

  .line-1,
  .line-3 {
    width: 1.2rem;
    transition: all 0.4s;
  }

  h3 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1rem;
  }

  ul {
    font-size: 1rem;
  }

  ul li {
    margin-bottom: 0;
  }

  .navigation-link {
    font-size: 1.3rem;
    font-weight: 400;
    transition: color 0.5s;
  }

  .navigation-link::before {
    left: -3rem;
  }

  .navigation-link::after {
    right: -3rem;
  }

  .navigation-link:hover::before,
  .navigation-link:hover::after {
    width: 2rem;
  }

  .navigation-list {
    justify-content: space-evenly;
  }

  .checkbox:checked ~ .navigation {
    top: 3rem;
    left: 0;
  }

  .checkbox:checked ~ .navbar .line-1 {
    transform: rotate(-405deg) translate(-4px, 6px);
    width: 1.6rem;
  }

  .checkbox:checked ~ .navbar .line-3 {
    transform: rotate(405deg) translate(-4px, -6px);
    width: 1.6rem;
  }

  .social-links {
    width: auto;
    font-size: 1.5rem;
    flex-direction: row;
    justify-content: center;
    margin-right: 1.5rem;
  }

  .social-links a {
    padding-bottom: 0;
    padding-right: 1rem;
  }

  .social-links a:hover {
    color: #fff8ef;
  }

  .main {
    margin-left: 0;
  }

  .project-card {
    flex: 1 1 300px;
    min-width: 300px;
  }
}
